.bread-crumb-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center; /* Center the content horizontally */
    margin-right: 20px;
    padding: 20px;

    //BOLD
    font-family: "dicsans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;

}

#bread-crumb img {
    max-width: 40px;
    max-height: 40px;
    vertical-align: middle;
    margin-right: 5px; /* Add some margin to separate the image from text */
}


#bread-crumb a {
    color: rgb(5, 104, 5);
}

#bread-crumb img {
    max-width: 40px;
    max-height: 40px;
}