
.footer-wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer-nav {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

.social-media {
    background-color: green;
    width: 100px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.sm-icon img {
    width: 19px;
    height: 19px;
}
