
.home-content {
    width: 100%;
    height: 100%;
    background-color: var(--red);

    img {
        opacity: 0.5;
        width: 100%;
        height: 100%;
        object-fit: cover;   
    }

}

.circle-container {
   width: 700px;
   height: 700px;
   position: absolute;
    top: 0;
    left: 25%;
    //background-color: green;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    .yellow-circle {
        width: 360px;
        height: 360px;
        border-radius: 50%;
        z-index: 999;
        background-color: var(--yellow);

        .y-circle-content {
            position: relative;
            top: 25%;
            left: 30%;
            width: 150px;
            height: 50px;
            display: flex;
            flex-direction: column;
            text-align: center;

            h3 {
                font-family: "Caveat-Bold";
                font-size: 24px;
            }

            p {
                font-family: "Lato";
            }
        }
    }

    .pink-circle {
        position: absolute;
        top: 15%;
        left: 60%;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: var(--pink);

        display: flex;
        justify-content: center;
        text-align: center;
        

        p {
            width: 120px;
            position: relative;
            top: 25%;
            font-family: "Lato Italic";
            font-size: 12px;
        }
      
    }
}

