//font variables
@font-face {
        font-family: "Caveat-Bold";
        src: url("/css/fonts/Caveat-Bold.ttf");
}

@font-face {
        font-family: "Caveat-Regular";
        src: url("/css/fonts/Caveat-Regular.ttf");
}

@font-face {
        font-family: "GillSans Italic";
        src: url("/css/fonts/GillSansItalic.ttf");
}

@font-face {
        font-family: "GillSans Italic";
        src: url("/css/fonts/GillSans Italic.ttf");
}
 @font-face {
        font-family: "GillSans Light";
        src: url("/css/fonts/GillSans-Light.ttf");
}

//Lato

@font-face {
        font-family: "Lato";
        src: url("/css/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
        font-family: "Lato Italic";
        src: url("/css/fonts/Lato/Lato-Italic.ttf");
}



//Color variables

:root {
 --green: #A7E8BD;
 --lightpink: #FCBCB8;
 --pink: #EFA7A7;
 --yellow: #FFD972;
 --red: #F25C54;
 --black: #191717;
 --white: #F2F2F2;
}

//utils

.button {
     width: 130px;
     height: 55px;
     display: flex;
     justify-content: center;
     margin-top: 10px;
     align-items: center;
     border-radius: 80px;
     background-color: var(--yellow);
     box-shadow: 2px 6px 8px rgba(24, 22, 22, 0.5)
}