@font-face {
  font-family: "Caveat-Bold";
  src: url("/css/fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: "Caveat-Regular";
  src: url("/css/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSansItalic.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSans Italic.ttf");
}
@font-face {
  font-family: "GillSans Light";
  src: url("/css/fonts/GillSans-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/css/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Italic";
  src: url("/css/fonts/Lato/Lato-Italic.ttf");
}
:root {
  --green: #A7E8BD;
  --lightpink: #FCBCB8;
  --pink: #EFA7A7;
  --yellow: #FFD972;
  --red: #F25C54;
  --black: #191717;
  --white: #F2F2F2;
}

.button {
  width: 130px;
  height: 55px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  border-radius: 80px;
  background-color: var(--yellow);
  box-shadow: 2px 6px 8px rgba(24, 22, 22, 0.5);
}

footer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px 50px;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Lato Italic";
  color: var(--black);
}
footer .footer-links li {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
}
footer .footer-links li a {
  text-decoration: none;
}
footer .social-media {
  display: flex;
  width: 75px;
  justify-content: space-between;
}
footer .social-media img {
  width: 20px;
  height: 20px;
}

@font-face {
  font-family: "Caveat-Bold";
  src: url("/css/fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: "Caveat-Regular";
  src: url("/css/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSansItalic.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSans Italic.ttf");
}
@font-face {
  font-family: "GillSans Light";
  src: url("/css/fonts/GillSans-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/css/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Italic";
  src: url("/css/fonts/Lato/Lato-Italic.ttf");
}
:root {
  --green: #A7E8BD;
  --lightpink: #FCBCB8;
  --pink: #EFA7A7;
  --yellow: #FFD972;
  --red: #F25C54;
  --black: #191717;
  --white: #F2F2F2;
}

.button {
  width: 130px;
  height: 55px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  border-radius: 80px;
  background-color: var(--yellow);
  box-shadow: 2px 6px 8px rgba(24, 22, 22, 0.5);
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  z-index: 999;
  position: fixed;
}
nav .logo {
  width: 225px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-links {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
nav .nav-links li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
nav .nav-links li a {
  color: var(--black);
  font-family: "Caveat";
  font-size: 18px;
  text-decoration: none;
}

.mobile-icon {
  position: absolute;
  top: 15px;
  right: 25px;
  margin: auto 0;
  cursor: pointer;
  display: none;
}

/* icon styling */
.mobile-icon div {
  width: 32px;
  height: 3px;
  margin: 6px 0;
  border-radius: 20px;
  background-color: var(--black);
}

.mobile-nav {
  display: none;
}

.mobileDisplay .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** MOBILE NAV **/
@media all and (max-width: 800px) {
  .nav-links ul {
    display: none;
  }
  .mobile-icon {
    display: block;
  }
}
@font-face {
  font-family: "Caveat-Bold";
  src: url("/css/fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: "Caveat-Regular";
  src: url("/css/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSansItalic.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSans Italic.ttf");
}
@font-face {
  font-family: "GillSans Light";
  src: url("/css/fonts/GillSans-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/css/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Italic";
  src: url("/css/fonts/Lato/Lato-Italic.ttf");
}
:root {
  --green: #A7E8BD;
  --lightpink: #FCBCB8;
  --pink: #EFA7A7;
  --yellow: #FFD972;
  --red: #F25C54;
  --black: #191717;
  --white: #F2F2F2;
}

.button {
  width: 130px;
  height: 55px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  border-radius: 80px;
  background-color: var(--yellow);
  box-shadow: 2px 6px 8px rgba(24, 22, 22, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  /*position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 225px;*/
  min-height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "Caveat-Bold";
  src: url("/css/fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: "Caveat-Regular";
  src: url("/css/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSansItalic.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSans Italic.ttf");
}
@font-face {
  font-family: "GillSans Light";
  src: url("/css/fonts/GillSans-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/css/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Italic";
  src: url("/css/fonts/Lato/Lato-Italic.ttf");
}
:root {
  --green: #A7E8BD;
  --lightpink: #FCBCB8;
  --pink: #EFA7A7;
  --yellow: #FFD972;
  --red: #F25C54;
  --black: #191717;
  --white: #F2F2F2;
}

.button {
  width: 130px;
  height: 55px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  border-radius: 80px;
  background-color: var(--yellow);
  box-shadow: 2px 6px 8px rgba(24, 22, 22, 0.5);
}

.home-content {
  width: 100%;
  height: 100%;
  background-color: var(--red);
}
.home-content img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-container {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-container .yellow-circle {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  z-index: 999;
  background-color: var(--yellow);
}
.circle-container .yellow-circle .y-circle-content {
  position: relative;
  top: 25%;
  left: 30%;
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.circle-container .yellow-circle .y-circle-content h3 {
  font-family: "Caveat-Bold";
  font-size: 24px;
}
.circle-container .yellow-circle .y-circle-content p {
  font-family: "Lato";
}
.circle-container .pink-circle {
  position: absolute;
  top: 15%;
  left: 60%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  text-align: center;
}
.circle-container .pink-circle p {
  width: 120px;
  position: relative;
  top: 25%;
  font-family: "Lato Italic";
  font-size: 12px;
}

@font-face {
  font-family: "Caveat-Bold";
  src: url("/css/fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: "Caveat-Regular";
  src: url("/css/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSansItalic.ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url("/css/fonts/GillSans Italic.ttf");
}
@font-face {
  font-family: "GillSans Light";
  src: url("/css/fonts/GillSans-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/css/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Italic";
  src: url("/css/fonts/Lato/Lato-Italic.ttf");
}
:root {
  --green: #A7E8BD;
  --lightpink: #FCBCB8;
  --pink: #EFA7A7;
  --yellow: #FFD972;
  --red: #F25C54;
  --black: #191717;
  --white: #F2F2F2;
}

.button {
  width: 130px;
  height: 55px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  border-radius: 80px;
  background-color: var(--yellow);
  box-shadow: 2px 6px 8px rgba(24, 22, 22, 0.5);
}

.login-container {
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
}
.login-container .user-forms-container {
  width: 900px;
  height: 500px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-container .user-forms-container .form {
  position: relative;
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
}
.login-container .user-forms-container .form .form-header {
  height: 75px;
  width: 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Lato";
}
.login-container .user-forms-container .form .form-header p {
  font-family: "Lato Italic";
  font-size: 10px;
}
.login-container .user-forms-container .form input {
  margin-bottom: 20px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid var(--black);
  font-family: "Lato";
  font-size: 12px;
}

/*# sourceMappingURL=styles.css.map */
