* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eae8eb;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  width: 100%;
  height: 75px;
  background-color: #3b325e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 50px;
}
nav .logo-wrapper {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav .logo-wrapper h2 {
  margin-top: 20px;
  margin-left: 20px;
  color: #F2F2F2;
}
nav .nav-wrapper {
  width: 75;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 10px;
  margin-left: 500px;
}
nav .nav-wrapper a, nav .nav-wrapper #Signup {
  padding: 20px;
  color: #F2F2F2;
  text-decoration: none;
  font-size: 14px;
}
nav .nav-wrapper a:active {
  text-decoration: underline;
}
nav .nav-wrapper #Signup {
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #cacaa7;
  border-radius: 5%;
  margin-left: 50px;
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
}
#modal #modal-click-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 50, 94, 0.6);
  z-index: -1;
}
#modal .modal-content-holder {
  position: relative;
  min-height: 500px;
  min-width: 400px;
  max-width: 60%;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  border-radius: 10%;
  background-color: #f2f2f2;
  border-radius: 15%;
  box-shadow: 0 0 15px rgba(59, 50, 94, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#modal .modal-content-holder i {
  margin: 20px 0px;
}
#modal .modal-content-holder .close-button {
  position: absolute;
  top: 10px;
  right: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
#modal .modal-content-holder .text-input {
  background-color: rgba(202, 202, 167, 0.7);
  width: 75%;
  color: rgba(59, 50, 94, 0.6);
  margin: 15px;
  padding: 10px;
  text-align: left;
  opacity: 0.7;
  border-radius: 3px;
}
#modal .modal-content-holder .modal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 75px;
}
#modal .modal-content-holder .modal-button-container .modal-button {
  height: 40px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  border-radius: 10px;
  font: 10px;
  background-color: #3b325e;
  color: #F2F2F2;
}

#modal.active {
  visibility: visible;
}

.home-wrapper {
  max-width: 100%;
  height: 400px;
  display: flex;
  margin: 100px 75px;
}
.home-wrapper .home-content {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  background-color: #cacaa7;
}
.home-wrapper .home-content p {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #F2F2F2;
}
.home-wrapper .home-content img {
  max-width: 100%;
  max-height: fit-content;
  border-radius: 10%;
}

footer {
  bottom: 0;
  position: fixed;
  height: 75px;
  width: 100%;
  background-color: #3b325e;
  color: rgba(242, 242, 242, 0.9490196078);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .logo-wrapper h2 {
  margin-top: 15px;
}

footer .logo-wrapper i {
  margin: 5px 20px;
}

.cookies-wrapper {
  min-height: 600px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-image: url("../images/butter-hero.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
}
.cookies-wrapper .cookie-content {
  margin: 20px;
  padding: 50px;
}
.cookies-wrapper .cookie-content img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 5%;
}

/*# sourceMappingURL=styles.css.map */
