footer {
    bottom: 0;
    position: fixed;
<<<<<<< HEAD
    height: 75px;
    width: 100%;
    background-color: #3b325e;
    color: #F2F2F2F2;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo-wrapper h2 {
    margin-top: 15px;
}
footer .logo-wrapper i {
    margin: 5px 20px;
=======
    height: 100px;
    width: 100%;
    background-color: #3b325e;
    color: #F2F2F2F2;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 50px;


    footer .logo-wrapper {
       height: 300px;
       width: 100%;
       display: flex;
       justify-content: center;
       align-content: center;
       padding: 50px;

    }
>>>>>>> origin/main
}