#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    #modal-click-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(59, 50, 94,0.6);
        z-index: -1;
    }

    .modal-content-holder {
        position: relative;
        min-height: 200px;
        min-width: 400px;
        max-width: 60%;
        border-radius: 10%;
        background-color: #f2f2f2;
        z-index: 99;
        padding: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 20pz;
        align-items: center;
        flex-direction: column;

        .close-button {
           background-color: #8f8b8b;
           position: absolute;
           height: 15px;
           width: 15px;
           right: 0;
           padding: 10px;
           margin: 10px;
        }
        .modal-button-container {
            height: 200px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .close-cancel {
                height: 40px;
                width: 150px;
                border-radius: 5%;
                margin: 10px;
                padding: 5px 15px;
                background-color: rebeccapurple;
                font: 10px;
                text-align: center;
            }
        }
    }
}

//when clicked, show modal
#modal.active {
    visibility: visible;
}