nav {
    height: 75px;
    background-color: #3b325e;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        padding: 20px;
        color: #F2F2F2;
        text-decoration: none;
    }
}